@import '../../../styles/variable';

.Footer {
  background-color: $dark;
  color: white;
  min-height: 18vh;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  font-size: 12px;

  .one {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .two {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .three {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    margin: 0 auto;
    img {
      margin-left: 1rem;
    }
  }
}
