@import './variable';

//navbar
.nav {
  background-color: transparent;
  border: transparent;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
  color: $dark;
  font-size: 1rem;

  a {
    text-decoration: none;
    color: $dark;
  }

  a:hover {
    color: $purple;
  }
}

.nav:hover {
  background-color: transparent;
  color: $purple;
}

.nav:focus {
  background-color: transparent;
  color: $purple;
  outline: 0;
}

.nav:active {
  background-color: transparent;
  color: $purple;
  outline: 0;
}
