@import '../../../styles/variable';

.main {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  min-height: 70vh;

  display: grid;
  grid-template-columns: auto;

  #description {
    h1 {
      font-weight: 700;
    }

    a {
      color: $purple;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      top: 0;
      transition: top ease 0.2s;
    }
    a:hover {
      color: $purple;
      font-weight: 600;
      top: -2px;
    }

    i {
      font-style: normal;
      font-weight: 600;
      border-bottom: 3.5px solid $purple;
    }

    grid-row: 1;
    grid-column: 1;
  }

  #example {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    img {
      max-width: 45rem;
      height: auto;
      border: 1px solid $gray;
      border-radius: 5px;
      border-bottom: 4px solid $gray;
      border-right: 4px solid $gray;
    }
  }
}
