@import '../../../styles/variable';

.main {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;

  .title {
    text-align: center;
    margin-top: 5rem;
    h1 {
      font-weight: 700;
      line-height: 60px;
    }
    h3 {
      font-weight: 600;
      line-height: 60px;
    }
    button {
      margin-top: 3rem;
      font-size: 23.3px;
      font-weight: 600;
      border-radius: 50px !important;
      width: 191.7px !important;
      height: 66.7px !important;
    }
  }

  .example {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

#modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;

  #modalBody {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    button {
      margin: 0.5rem;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
