@import '../../../styles/variable';

.profile {
  padding-top: 5rem;
  padding-left: 8%;
  padding-right: 8%;
  min-height: 100vh;
  margin-top: auto;

  .user {
    font-size: 1.5rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: 180px 600px;

    .profileMail {
      grid-row: 1;
      grid-column: 2;
      height: 150px;
      font-size: 1rem;
      i {
        font-style: normal;
        color: $highlight;
        background-color: $dark;
        padding: 0.5rem;
        border-radius: 5px;
      }

      button {
        margin-bottom: 1rem;
        font-size: 12px;
      }
    }

    .profileImg {
      grid-row: 1;
      grid-column: 1;
      width: 150px;
      height: 150px;
      margin-bottom: 1rem;

      .outer {
        position: relative;
        img {
          border-radius: 100%;
          width: 150px;
          height: 150px;
        }

        .inner {
          background-color: $light;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .inner:hover {
          background-color: $lightgray;
        }
        .inputfile {
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: 1;
          width: 40px;
          height: 40px;
        }
        .inputfile + label {
          font-size: 1.25rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          overflow: hidden;
          width: 40px;
          height: 40px;
          pointer-events: none;
          cursor: pointer;
          line-height: 40px;
          text-align: center;
          color: $dark;
        }
        .inputfile + label svg {
          fill: #fff;
        }
      }
    }
  }
}

.list {
  margin-top: 4rem;
  margin-bottom: 15rem;

  table {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto;
    width: 100%;
  }

  thead {
    font-size: 1.1rem;
    font-weight: 600;

    td {
      border-bottom: 1px solid $dark;
    }
  }

  td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  tbody {
    font-weight: 500;
    tr:hover {
      color: $purple;
    }

    #passOption {
      font-size: 0.8rem;
    }
  }
}
