@import '../../../variable';

.layoutflow {
  flex-grow: 1;
  position: relative;
  margin: 1rem;
  background-color: $light;
  border-top: 1px solid $gray;

  h4 {
    padding-left: 1rem;
    padding-top: 1rem;
    color: $dark;
    font-size: 1rem;
  }
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.layoutflow .controls button:first-child {
  margin-right: 10px;
}

.react-flow__attribution {
  background-color: transparent;
}

path.react-flow__edge-path {
  stroke-width: 2;
}

path.react-flow__edge-path:hover {
  cursor: pointer;
  stroke-width: 4;
  stroke: $dark;
}

path.react-flow__edge-path:active {
  cursor: pointer;
  stroke-width: 4;
  stroke: $dark;
}
.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 4;
  stroke: $dark;
}

.react-flow__edge.animated path {
  stroke-dasharray: 5;
  -webkit-animation: dashdraw 1s linear infinite;
  animation: dashdraw 1s linear infinite;
}
