// color
$dark: #1a0544 !default;
$light: #f8f8f8 !default;
$gray: #c4c4c4 !default;
$purple: #5b2eb6 !default;
$lightpurple: #f0e9ff !default;
$darkpurple: #e0d6fa !default;
$yellow: #f5b612 !default;
$lightyellow: #fbecc7 !default;
$dakryellow: #f9e3ac !default;

// button
$btn-padding-y: 7px !default;
$btn-padding-x: 22px !default;
$btn-line-height: 1.35em !default;

$btn-padding-y-sm: 4.5px !default;
$btn-padding-x-sm: 14.5px !default;
$btn-line-height-sm: 1.35 !default;

$btn-padding-y-lg: 12px !default;
$btn-padding-x-lg: 30px !default;
$btn-padding-y-lg-mobile: 8px !default;
$btn-padding-x-lg-mobile: 20px !default;
$btn-line-height-lg: 1.35 !default;
