@import './variable';

//navbar
.nav {
  background-color: transparent;
  border: transparent;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
  font-weight: 600;
  color: $dark;
  font-size: 1rem;

  a {
    text-decoration: none;
    color: $dark;
  }

  a:hover {
    color: $purple;
  }
}

.nav:hover {
  background-color: transparent;
  color: $purple;
}

.nav:focus {
  background-color: transparent;
  color: $purple;
  outline: 0;
}

.nav:active {
  background-color: transparent;
  color: $purple;
  outline: 0;
}

//default - nav(signin, profile, delete:yes)
.default {
  background-color: $purple;
  border: $purple;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.default:hover {
  top: -3px;
}

//default_light - delete:no
.default_light {
  background-color: $lightpurple;
  border: $purple;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
  font-weight: 600;
  color: $purple;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.default_light:hover {
  top: -3px;
}

//white - get started
.white {
  background-color: white;
  border: 2px solid $dark;
  padding-top: $btn-padding-y-lg;
  padding-bottom: $btn-padding-y-lg;
  padding-left: $btn-padding-x-lg;
  padding-right: $btn-padding-x-lg;
  font-weight: 600;
  color: $dark;
  font-size: 1.5rem;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.white:hover {
  top: -3px;
}

//mini - purple
.mini {
  background-color: $lightpurple;
  border: $lightpurple;
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
  padding-left: $btn-padding-x-sm;
  padding-right: $btn-padding-x-sm;
  font-weight: 600;
  color: $purple;
  font-size: 0.7rem;
  border-radius: 7px;
}

.mini:hover {
  background-color: $darkpurple;
}

//mini - yellow
.mini_yellow {
  background-color: $lightyellow;
  border: $lightyellow;
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
  padding-left: $btn-padding-x-sm;
  padding-right: $btn-padding-x-sm;
  font-weight: 600;
  color: $darkyellow;
  font-size: 0.7rem;
  border-radius: 7px;
}

.mini_yellow:hover {
  background-color: $dakryellow;
}

//basic - logout
.basic {
  background-color: $lightpurple;
  border: 1px solid $lightpurple;
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
  padding-left: $btn-padding-x-sm;
  padding-right: $btn-padding-x-sm;
  font-weight: 600;
  color: $purple;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.basic:hover {
  top: -3px;
  background-color: $darkpurple;
}
